/Repport/Summary.aux
/Repport/Summary.log
/Repport/Summary.out
/Repport/Summary.synctex.gz
/Repport/Summary.tex
/Repport/balanced.png
/Repport/confusion_matrix.png
/Repport/imbalanced.png
/Repport/training-testing.png
/__pycache__/pipeline.cpython-38.pyc
/__pycache__/preprocessing.cpython-38.pyc
